<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-6">
            <div class="text-center">
                <img src="/frontend/src/img/event-master.png" alt="Logo" class="mb-4">
                <h1 class="display-4 mb-3">Bem vindo ao Evenement Master</h1>
                <p class="lead mb-5">Crie e gerencie seus eventos de maneira fácil e eficiente.</p>
                <a href="#" class="btn btn-primary btn-lg">Criar Evento</a>
                <a href="/cadastrar" class="btn btn-secondary btn-lg mt-3">Cadastrar</a>
            </div>
        </div>
    </div>
</div>